USE [master]
GO
/****** Object:  Database [Proiect_II_DB]    Script Date: 4/8/2024 3:17:28 PM ******/
CREATE DATABASE [Proiect_II_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Proiect_II_DB', FILENAME = N'D:\A. FAcultate SEM 2\BD\MSSQL16.SQLEXPRESS\MSSQL\DATA\Proiect_II_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Proiect_II_DB_log', FILENAME = N'D:\A. FAcultate SEM 2\BD\MSSQL16.SQLEXPRESS\MSSQL\DATA\Proiect_II_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Proiect_II_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Proiect_II_DB]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 4/8/2024 3:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[username_Id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mancare]    Script Date: 4/8/2024 3:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mancare](
	[Id_Hrana] [int] IDENTITY(1,1) NOT NULL,
	[Tip_Hrana] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Hrana] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Owner]    Script Date: 4/8/2024 3:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owner](
	[owner_Id] [int] IDENTITY(1,1) NOT NULL,
	[username_Id] [int] NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone_number] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[owner_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pet]    Script Date: 4/8/2024 3:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pet](
	[owner_Id] [int] IDENTITY(1,1) NOT NULL,
	[animal_Id] [int] NOT NULL,
	[animal_Name] [nvarchar](50) NOT NULL,
	[rasa_Animal] [nvarchar](50) NOT NULL,
	[talie_Animal] [nvarchar](50) NOT NULL,
	[varsta] [int] NOT NULL,
	[tip_cazare_Id] [int] NOT NULL,
	[tip_meniu_Id] [int] NOT NULL,
	[observatii] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[owner_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 4/8/2024 3:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[Id_cazare] [int] IDENTITY(1,1) NOT NULL,
	[Tip_Cazare] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_cazare] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 4/8/2024 3:17:28 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_Id] [int] IDENTITY(1,1) NOT NULL,
	[username_Id] [int] NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone_number] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Login] ON 

INSERT [dbo].[Login] ([username_Id], [username], [password]) VALUES (1, N'dancosma', N'1234')
SET IDENTITY_INSERT [dbo].[Login] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([user_Id], [username_Id], [first_name], [last_name], [email], [phone_number]) VALUES (1, 1, N'Dan', N'Cosma', N'dancosma@gmail.com', N'072974553')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Owner]  WITH CHECK ADD FOREIGN KEY([username_Id])
REFERENCES [dbo].[Login] ([username_Id])
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD FOREIGN KEY([tip_cazare_Id])
REFERENCES [dbo].[Room] ([Id_cazare])
GO
ALTER TABLE [dbo].[Pet]  WITH CHECK ADD FOREIGN KEY([tip_meniu_Id])
REFERENCES [dbo].[Mancare] ([Id_Hrana])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([username_Id])
REFERENCES [dbo].[Login] ([username_Id])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([username_Id])
REFERENCES [dbo].[Login] ([username_Id])
GO
USE [master]
GO
